<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">See all restaurants</h1>
    </div>
  </div>

  <div>
    <%= link_to 'Add your restaurant', new_restaurant_path, class: "btn btn-danger" %>
  </div>


  <div class="row">
    <% @restaurants.each do |restaurant| %>
    <div class="col-xs-12 col-md-4">
      <hr>
      <h3><%= restaurant.name %></h3>
      <%= restaurant.address %>
      <br>
      <%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary" %>
      <hr>
    </div>
    <% end %>
  </div>


</div>
